.about {
  padding: 100px 0;

  &__description {
    max-width: 1035px;
    margin: 0 auto 135px;
  }

  &__row {
    &:not(:last-of-type) {
      padding-bottom: 120px;
      border-bottom: 2px solid #e6e6e6;
    }

    &:last-of-type {
      padding-top: 115px;
    }
  }

  &__column {
    &:not(:last-of-type) {
      margin-right: 60px;
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
  }

  &__text-block {
    padding-left: 155px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 125px;
      height: 125px;
      border: 2px solid $brand-color;
      border-radius: 50%;
      
    }
    
    &--icon-bulb {  
      &::before {
        background: url("../images/about/bulb.png") no-repeat center;
      }
    }

    &--icon-params {
      &::before {
        background: url("../images/about/params.png") no-repeat center;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    line-height: 1.25;
  }

  &__text {
    &:not(:last-of-type) {
      margin-bottom: 25px;
    } 
  }

  &__list {
    margin-top: 65px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__item-text {
    display: inline-block;
    margin-bottom: 5px;
  }

  &__item-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
  }
}

@media(max-width: $tablet-width) {
  .about {
    padding: 80px 0;

    &__description {
      margin: 0 auto 80px;
    }

    &__row {
      flex-direction: column;
      align-items: center;

      &:not(:last-of-type) {
        padding-bottom: 100px;
      }

      &:last-of-type {
        padding-top: 90px;
      }
    }

    &__column {
      margin-bottom: 30px;

      &:not(:last-of-type) {
        margin-right: 0;
      }
    }

    &__text-block {
      padding-left: 0;
      padding-top: 120px;
      margin-bottom: 20px;

      &::before {
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 90px;
      }
    }

    &__title {
      font-size: 18px;
      text-align: center;
    }

    &__text {
      font-size: 16px;
      text-align: center;

      &:not(:last-of-type) {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    &__image {
      width: 100%;
    }

    &__list {
      margin-top: 40px;
    }
  }
}