.about {
  padding-top: 100px;

  &__title {
    font-size: 20px;
    margin-bottom: 25px;
  }

  &__text {

    &--warning {
      max-width: 476px;
      font-size: 20px;
      font-weight: 300;
      color: #e74c3c;
      margin-bottom: 35px;
    }
  }
}