.achievements {
  $self: &;

  padding: 190px 0 255px 0;
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      #{$self}__circle {
        border-color: #ffffff;
      }

      #{$self}__icon {
        fill: $brand-color;
      }
    }
  }

  &__circle {
    margin-bottom: 8px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid $brand-color;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  &__icon {
    width: 35px;
    height: 35px;
    fill: #ffffff;
    transition: all 0.3s;
  }

  &__number {
    font-size: 45px;
    color: $text-color-light;
    font-weight: 700;
  }

  &__text {
    font-size: 25px;
    color: $text-color-light;
    line-height: 1.25px;
  }
}

@media(max-width: $tablet-width) {
  .achievements {
    padding: 160px 0;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      margin: 0 50px 40px;
    }

    &__circle {
      width: 120px;
      height: 120px;
    }

    &__number {
      font-size: 35px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media(max-width: $mobile-width) {
  .achievements {
    padding: 130px 0;

    &__item {
      margin: 0 25px 30px;
    }
  }
}