.blog {
  padding: 100px 0 40px 0;

  &__description {
    max-width: 1010px;
    margin: 0 auto 140px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 2 - 30px);
  }

  &__post {
    display: flex;
    padding-bottom: 160px;
  }
}

@media(max-width: 1200px) {
  .blog {
    &__post {
      flex-direction: column;
      padding-bottom: 50px;
    }
  }
}

@media(max-width: $tablet-width) {
  .blog {
    padding: 80px 0;

    &__description {
      margin: 0 auto 80px;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__post {
      padding-bottom: 0;
    }
  }
} 

@media(max-width: $mobile-width) {
  .blog {
    padding: 25px 0;

    &__description {
      margin: 0 auto 50px;
    }

    &__item {
      width: 100%;
    }

    &__picture {
      width: 100%;
    }

    &__image {
      width: 100%;
    }
  }
}