.blog {
  padding: 100px 0;

  &__description {
    max-width: 1010px;
    margin: 0 auto 140px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(100% / 2 - 30px);
  }

  &__picture {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 67px;
      width: 44px;
      height: 44px;
      background: $brand-color url("../images/blog/1-icon.png") no-repeat center;
    }
  }

  &__post {
    display: flex;
    padding-bottom: 170px;
  }
}