.button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  display: inline-block;

  &--primary {
    border: 2px solid $color-yellow;
    text-transform: uppercase;
  }
}