.button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;

  &--primary {
    border: 2px solid $color-orange;
  }

  &--secondary {
    border: 2px solid #ffffff;

    &:hover,
    &:focus {
      background-color: $color-orange;
      border-color: $color-orange;
    }
  }
}