.clients {
  padding: 195px 0 250px;

  &__heading {
    text-align: center;
    color: $text-color-light;
    line-height: 2;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%; 
    height: 162px;
    padding: 20px;
    border: 2px solid #818181;
  }

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__image {
    height: 100%;
    object-fit: contain;
  }
}


@media(max-width: $tablet-width) {
  .clients {
    padding: 120px 0 200px;

    &__heading {
      font-size: 25px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__item {
      width: 45%;
      margin-bottom: 15px;
    }
  }
}

@media(max-width: $mobile-width) {
  .clients {
    padding: 90px 0;

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 160px;
      margin-bottom: 25px;
      height: 120px;
    }
  }
}