.features {
  background: url("../images/features/features-background@2x.jpg") no-repeat center;
  background-size: cover;
  padding: 450px 0 175px;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.7);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right bottom, transparent 49%, #ffffff 50%);
  }
}