.location {
  height: 600px;
  min-height: 300px;

  &__map {
    width: 100%;
    height: 600px;
  }
}

@media(max-width: $tablet-width) {
  .location {
    height: 550px;

    &__map {
      height: 550px;
    }
  }
}

@media(max-width: $mobile-width) {
  .location {
    height: 400px;

    &__map {
      height: 400px;
    }
  }
}