.navigation {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:nth-child(6n + 6)) {
      position: relative;
      padding-right: 42px;
      margin-right: 42px;
      
      &::after {
        content: "\\\\";
        position: absolute;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        top: 0;
        right: -7px;
      }
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      color: #0d0d0d;
    }
  }
}

@media(max-width: 1200px) {
  .navigation {
    &__item {
      &:not(:last-child) {
        padding-right: 30px;
        margin-right: 30px;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .navigation {
    &__list {
      flex-direction: column;
      display: none;

      &--opened {
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        margin: 0 -20px;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      padding: 5px 25px;

      &:not(:last-child) {
        margin: 0;
      }

      &::after {
        display: none;
      }
    }
  }
}