.navigation {

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      position: relative;
      padding-right: 42px;
      margin-right: 42px;
      
      &::after {
        content: "\\\\";
        position: absolute;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        top: 0;
        right: -7px;
      }
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      color: #0d0d0d;
    }
  }
}