.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 245px 0;
  font-weight: 700;
  color: $text-color-light;
  max-width: 1085px;

  &__text {
    position: relative;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 30px;
    max-width: 100%;
    padding: 0 60px;

    &::before,
    &::after {
      position: absolute;
      font-size: 110px;
      line-height: 1;
      top: 0;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__author {
    font-size: 24px;
    line-height: 2.5;
    text-transform: uppercase;
    font-style: normal;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 5px;
      background-color: $brand-color;
    }

    &--line-bottom {
      &::before {
        top: 60px;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .quote {
    padding: 175px 0;

    &__text {
      font-size: 35px;

      &::before,
      &::after {
        font-size: 80px;
      }
    }

    &__author {
      font-size: 20px;
    }
  }
}

@media(max-width: $mobile-width) {
  .quote {
    &__text {
      font-size: 16px;
      padding: 0 20px;

      &::before,
      &::after {
        font-size: 30px;
      }
    }

    &__author {
      font-size: 14px;

      &::before {
        height: 3px;
      }
    }
  }
}