.quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 245px 0;
  font-weight: 700;
  color: $text-color-additional;

  &__text {
    position: relative;
    line-height: 1.33;
    text-align: center;
    max-width: 960px;
    margin-bottom: 30px;

    &::before,
    &::after {
      position: absolute;
      font-size: 110px;
      top: 50px;
      line-height: 0;
    }

    &::before {
      left: -70px
    }

    &::after {
      right: -70px;
    }
  }

  &__author {
    font-size: 24px;
    line-height: 2.5;
    text-transform: uppercase;
    font-style: normal;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 5px;
      background-color: $brand-color;
    }

    &--line-bottom {
      &::before {
        top: 60px;
      }
    }
  }
}