.row {
  display: flex;

  &__column {
    flex-grow: 1;

    &--size-l {
      max-width: 660px;
    }

    &--size-m {
      max-width: 560px;
    }

    &--unflexible {
      flex-shrink: 0;
    }
  }
}

@media(max-width: $tablet-width) {
  .row {
    &__column {
      max-width: none;
    }
  }
}