.service {
  padding: 100px 0;

  &__description {
    max-width: 1050px;
    margin: 0 auto 145px;
  }

  &__list {
    display: flex;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 120px;
  }

  &__item {
    position: relative;
    width: calc(100% / 3);
    text-align: center;
    padding-top: 135px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 105px;
      height: 105px;
      border: 2px solid $brand-color;
      border-radius: 50%;
      transition: all 0.3s;
    }
    
    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      &::before {
        background-color: $brand-color;
      }
    }
  }

  &__title {
    display: inline-block;
    line-height: 1.25;
    margin-bottom: 25px;
  }

  &__text {
    color: $text-color-primory;
  }

  &__row {
    padding-top: 120px;
  }

  &__price {
    max-width: 320px;
    padding-top: 155px;
    margin-right: 110px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 125px;
      height: 125px;
      border: 2px solid $brand-color;
      border-radius: 50%;
      background: url("../images/service/banknote.png") no-repeat center;
    }
  }

  &__table {
    max-width: 748px;
  }
}