.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 45px;
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    

    &:last-of-type {
      margin-bottom: 83px;
      letter-spacing: -5px;
    }
  }

  &__heading {
    font-size: 70px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: -4.2px;
  }

  &__link {
    font-size: 15px;
    color: #ffffff;
    background-color: #f39c12;
    padding: 12px 34px;
    margin-bottom: 130px;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: #bf7909;
    }
  }
}