.table {
  border-collapse: collapse;
  
  &__row {
    border: 2px solid #e6e6e6;
    
    &:nth-child(even) {
      background-color: #fafafa;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    padding: 28px 90px;
  }

  &__title-package {
    position: relative;
    padding-bottom: 15px;
    display: inline-block;
    
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50px;
      height: 2px;
      background-color: $brand-color;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__cell {
    text-align: center;
    padding: 15px 0;
    font-size: 15px;
    line-height: 1.6;
    color: $text-color-primory;
  }

  &__button {
    padding: 10px 30px;
    font-weight: 600;
    color: #000000;
  }
}