.text {
  margin: 0;
  color: $text-color;

  &--uppercase {
    text-transform: uppercase;
  }

  &--size-xxl {
    font-size: 45px;
  }

  &--size-xl {
    font-size: 40px;
  }

  &--size-l {
    font-size: 20px;
  }

  &--color-error {
    color: $text-color-error;
  }
}