// @font-face {
//   font-family: "Open-Sans";
//   src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
//     url("../fonts/OpenSans-Bold.woff") format("woff");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

body {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 14px;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
