$tablet-width: 660px;
$desktop-width: 960px;
$brand-color: #f39c12;
$text-color-error: #e74c3c;
$text-color-primary: #4c4c4c;
$text-color-light: #ffffff;
$text-color-secondary: #737373;
$text-color-tertiary: #808080;